@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-slate-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(0, 0, 0, 0.1); /* Warna hitam sangat tipis/samar */
  transition: color 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(0, 0, 0, 0.35); /* Warna hitam lebih terlihat saat hover */
}

.swiper-pagination-bullet-active {
  background-color: #ec4899 !important;
}
