@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-slate-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-button-next,
.swiper-button-prev {
  /* Warna pink (ec4899) dengan opasitas 50% */
  color: rgba(236, 72, 153, 0.5);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  /* Warna pink (ec4899) dengan opasitas 75% saat hover untuk sedikit lebih terlihat */
  color: rgba(236, 72, 153, 0.75);
}

.swiper-pagination-bullet-active {
  background-color: #ec4899 !important; /* Bullet pagination tetap solid untuk kejelasan */
}
