@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-slate-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0; /* Membuat tombol benar-benar transparan/tidak terlihat */
  pointer-events: none; /* Menonaktifkan interaksi mouse (tidak bisa diklik) */
}

/* Aturan hover di bawah ini tidak lagi diperlukan jika tombol selalu tidak terlihat */
/*
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(0, 0, 0, 0.7);
}
*/

.swiper-pagination-bullet-active {
  background-color: #ec4899 !important;
}
